* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.m_box{
    display: flex;
    align-items: center;
}
.t_box{
    flex-direction: column;
}
.m_title{
    font-family: Hind Madurai;
    font-size: 26px;
    font-weight: 700;
    line-height: 35.88px;
    text-align: right;
     
}
.m_text{
    font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: right;

}
.logo{
    display: flex;
    margin-top: 300px;
    width: 349px;
    height: 98.27px;
    top: 1403.59px;
    left: 253px;
    font-family: Arial;
    font-size: 44.2px;
}
.nav_box{
    margin-top: 300px;
    width: 349px;
    height: 98.27px;
    top: 1403.59px;
    left: 253px;
    gap: 30px;
    border-radius: 5px;
}
.title{
    background: #D64374;
    top: 1611.16px;
    padding: 15px 40px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-family: Arial;}

.abu_box{
    display: flex;
    
}
.abu_title{
    font-family: Hind Madurai;
font-size: 20px;
font-weight: 600;
line-height: 27.6px;
text-align: left;

}
.abu_text{
    font-family: Hind Madurai;
font-size: 14px;
font-weight: 400;
line-height: 19.32px;
text-align: center;

}
.abu_card{
    display: flex;
    flex-direction: column;
    align-items: center;

}
